@import "../../styles.scss";

.block-chips{
    width:75%;
    margin:auto;
}

.block-nouveau-role{
    width:60%;
    padding-top: 25px;
    margin:auto;
}

.ajouter-role{
    padding-top: 25px;
}

.bouton-validation{
    padding-top: 25px;
    text-align: center
}