<div class="row result-salons block-shadow">
  <div class="header-complet col s12">
  <h4 class="header-titre col s6">Salon n°1</h4>
  <div class="header-additionnel col s6">
    <div class="header-date">01/01/0001</div>
    <div class="header-lieu">Club Fun Tennis</div>
    <div class="header-sport">Tennis</div>
  </div>
</div>
  <div>
    <p class="grey-text text-darken-3 lighten-3 salon-description">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
      unchanged.</p>
    <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
      <i class="small material-icons right">send</i>
    </button>
  </div>
</div>