<h2>Salon de Jeu {{id}}</h2>

<div class="statut block-shadow pas-complet" *ngIf="!rejoindre1">
  <div class="statut-text">En attente de joueurs</div>
</div>

<div class="statut block-shadow complet" *ngIf="rejoindre1">
  <div class="statut-text">Ca match!</div>
</div>

<div class="block-salon block-shadow">
  <div class="block-haut-salon">
    <div class="infos-salon">
      <ul>
        <li>
          <h4>Informations</h4>
        </li>
        <li>
          <span>Sport:</span> {{sport}}</li>
        <li>
          <span>Club:</span> {{club}}</li>
        <li>
          <span>Date:</span> {{date | date}}</li>
      </ul>
      <button type="button" class="waves-effect waves-light btn-large rejoindre" (click)="rejoindreSalle()" *ngIf="!rejoindre1">Rejoindre la partie</button>
      <button type="button" class="waves-effect waves-light btn-large rejoindre" (click)="quitterSalle()" *ngIf="rejoindre1">Quitter la partie</button>
    </div>
    <div class="joueurs-salon">
      <div class="vignettes-joueur">
        <div>
          <app-joueur1 *ngFor="let joueur of joueurs" [prenom]="joueur.prenom" [photo]="joueur.photo"></app-joueur1>
        </div>
        <!-- <div class="vignette"> 
            <app-joueur2></app-joueur2>
        </div>
        <div class="vignette">
          <app-vignette-joueur-inconnu *ngIf="!rejoindre1"></app-vignette-joueur-inconnu>
          <app-vignette-joueur-trouve *ngIf="rejoindre1"></app-vignette-joueur-trouve>
        </div>
        <div class="vignette">
          <app-vignette-joueur-inconnu></app-vignette-joueur-inconnu>
        </div> -->
      </div>
    </div>
  </div>

  <div class="block-bas-salon">
    <div class="map">
      <app-gpsmap></app-gpsmap>
    </div>
    <div class="block-bas-droit">
      <div class="input-field">
        <div id="presentation-joueur" class="materialize-textarea block-shadow">
          <h6>Présentation:</h6>
          {{description}}
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
