@import "../../styles.scss";

*{
    margin:0;
}

.block-contact{
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    height: 94.5vh;
}

.sous-block-contact{
    height:60%;
    margin:auto;
}

app-gpsmap{
    width:50%;
    height:100%;
    display:inline-block;
    position: relative;
}

.infos-contact{
    height:100%;
    width:50%;
    display:inline-block;
    position: relative;
    text-align: center;
    background-color: $salon-color;
    color:black;
}

.infos-details{
    height:30%;
    width:60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:15%;
    position:absolute;
}