@import "../../styles.scss";

*{
    margin:0;
}

.block-contact{
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    height: 94vh;
}

.sous-block-contact{
    height:60%;
    margin:auto;
    background-color:red;
}

app-gpsmap{
    width:50%;
    height:100%;
    display:inline-block;
    position: relative;
}

.infos-contact{
    width:50%;
    display:inline-block;
    text-align: center;
    background-color: $main-color;
    color:$text-color;
    
}
