<div class="block-gestion-terrain">
  <div class="terrain block-shadow">
    <h5>Nom du terrain</h5>
    <div class="block-gauche">
      <img src="../../assets/images/terrain-tennis.jpg" alt="Image terrain" class="img-sport">
      <a class="waves-effect waves-light btn btn-valider">Changer Photo</a>
      <div class="details-terrain">
        <div>Sport</div>
        <div>Joueurs Max</div>
        <div>Prix horaire</div>
      </div>
    </div>
    <div class="block-droite">
      <h6>Horaires</h6>
      Lundi Lundi Lundi Lundi Lundi Lundi Lundi
    </div>
    <a class="waves-effect waves-light btn btn-valider">Valider</a>
  </div>