<div class="block-gestion-terrain">
  <div class="terrain block-shadow">
    <h5>Nom du terrain</h5>
    <div class="block-gauche">
      <img src="../../assets/images/terrain-tennis.jpg" alt="Image terrain" class="img-sport">
      <a class="waves-effect waves-light btn btn-valider">Changer Photo</a>
      <div class="details-terrain">
        <div>
          <div class="titre-details">Sport: </div>
          <a class='dropdown-trigger btn' data-target='dropdown'>Sports</a>
          <ul id='dropdown' class='dropdown-content'>
            <li>
              <a>Tennis</a>
            </li>
            <li>
              <a>Foot</a>
            </li>
            <li>
              <a>Jogging</a>
            </li>
            <li>
              <a>Squash</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="titre-details">Joueurs Max: </div>
          <input type="text" class="text-details">
        </div>
        <div>
          <div class="titre-details">Prix horaire: </div>
          <input type="text" class="text-details">
        </div>
      </div>
    </div>
    <div class="block-droite">
      <h6>Horaires</h6>
      <ul>
        <li>
          <div class="jour">Lundi de </div>
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h à
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h
        </li>
        <li>
          <div class="jour">Mardi de </div>
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h à
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h</li>
        <li>
          <div class="jour">Mercredi de </div>
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h à
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h</li>
        <li>
          <div class="jour">Jeudi de </div>
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h à
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h</li>
        <li>
          <div class="jour">Vendredi de </div>
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h à
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h</li>
        <li>
          <div class="jour">Samedi de </div>
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h à
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h</li>
        <li>
          <div class="jour">Dimanche de </div>
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h à
          <div class="input-field heure-jour">
            <input type="text" class="text-details">
          </div> h</li>
      </ul>
    </div>
    <a class="waves-effect waves-light btn btn-valider">Valider</a>
  </div>