<div class="row result-salons block-shadow">
    <div class="header-complet col s12">
    <h4 class="header-titre col s6">Salon numéro : 1</h4>
    <div class="header-additionnel col s6">
      <div class="header-date">27/07/2018</div>
      <div class="header-lieu">Tennis Fun Club</div>
      <div class="header-sport">Tennis</div>
      <div class="header-nbr-joueurs">2/4</div>
    </div>
  </div>
    <div>
      <p class="grey-text text-darken-3 lighten-3 salon-description">Bonjour! Je m'appelle David, je cherche 3 joueurs niveau débutant/intermédiaire pour faire une partie de Tennis le Vendredi 27 Juillet au Tennis Fun Club à Villeneuve :)</p>
     <a [routerLink]="['/salon-interieur/:id']" class="btn waves-effect waves-light btn-voir">Voir</a>
    </div>
  </div>
