<h2>Salon de Jeu</h2>

<div class="statut block-shadow">
  <div class="statut-text">En attente de joueurs</div>
</div>

<div class="block-salon block-shadow">
  <div class="block-haut-salon">
    <div class="infos-salon">
      <ul>
        <li>
          <h4>Informations</h4>
        </li>
        <li>
          <span>Sport:</span> Tennis</li>
        <li>
          <span>Adresse:</span> 5 rue de la gare, 59000 Lille</li>
        <li>
          <span>Date:</span> 05/05/2018</li>
        <li>
          <span>Heure:</span>14h30</li>
      </ul>
    </div>
    <div class="joueurs-salon">
      <div class="vignettes-joueur">
        <div class="vignette">
          <app-vignette-joueur-trouve></app-vignette-joueur-trouve>
        </div>
        <div class="vignette">
          <app-vignette-joueur-inconnu></app-vignette-joueur-inconnu>
        </div>
        <div class="vignette">
          <app-vignette-joueur-inconnu></app-vignette-joueur-inconnu>
        </div>
        <div class="vignette">
          <app-vignette-joueur-inconnu></app-vignette-joueur-inconnu>
        </div>
      </div>
    </div>
  </div>

  <div class="block-bas-salon">
    <div class="map">
      <app-gpsmap></app-gpsmap>
    </div>
    <div class="block-bas-droit">
      <div class="input-field">
        <div id="presentation-joueur" class="materialize-textarea block-shadow">
          <h6>Présentation:</h6>
          Salut, je m'appelle Jean et j'adore le Tennis. J'ai commencé il y a une semaine et je cherche des gens avec qui jouer afin
          de progresser en s'amusant. Je suis dispo du Lundi au Vendredi après 17h dans les alentours de Villeneuve d'Ascq.
        </div>
      </div>
    </div>
  </div>
</div>
