<h2>Profil de *SuperClubTropBienDeLaMort*</h2>

<div class="block-haut">
    <img src="../../assets/images/terrain-tennis.jpg" class="block-shadow">
    <app-gpsmap class="gps-map block-shadow"></app-gpsmap>
</div>

<a class="waves-effect waves-light btn btn-photo">Changer de Photo</a>

<div class="block-bas">
    <div class="block-description">
        <div class="input-field">
            <textarea id="presentation-centre" class="materialize-textarea"></textarea>
            <label for="presentation-centre">Presentation du Centre</label>
        </div>
    </div>
    <div class="block-contact">
        <ul>
            <li><h5>Contact</h5></li>
            <li>Adresse: adresse, 59000</li>
            <li>Téléphone: 01 23 45 67 89</li>
            <li>Email: machin@machin.com</li>
        </ul>
    </div>
</div>

<a class="waves-effect waves-light btn btn-valider">Valider</a>