<h2>Merci de vous connecter</h2>

<form (submit)="loginUtilisateur($event)">
  <div class="block-principal-connexion">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Login</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <input type="submit" value="valider" class="waves-effect waves-light btn btn-valider">
    <a href="" class="lien-inscription">Inscription</a>
  </div>
</form>