<h2>Salon de Jeu {{salon.id}}</h2>

<div class="">
  <div class="statut-text statut-no block-shadow" *ngIf="!rejoindre2">En attente de joueurs</div>
  <div class="statut-text statut-yes block-shadow" *ngIf="rejoindre2">Ca match!</div>
</div>

<div class="block-salon block-shadow">
  <div class="block-haut-salon">
    <div class="infos-salon">
      <ul>
        <li>
          <h4>Informations</h4>
        </li>
        <li>
          <span>Sport:</span> {{salon.Sport}}</li>
        <li>
          <span>Club:</span> {{salon.Club}}</li>
        <li>
          <span>Date:</span> {{salon.Date}}</li>
      </ul>
      <a class="waves-effect waves-light btn-large rejoindre" (click)="rejoindreSalle()" *ngIf="!rejoindre2">Rejoindre la partie</a>
      <a class="waves-effect waves-light btn-large rejoindre" (click)="quitterSalle()" *ngIf="rejoindre2">Quitter la partie</a>
    </div>
    <div class="joueurs-salon">
      <div class="vignettes-joueur">
        <div class="vignette">
            <app-joueur1></app-joueur1>
        </div>
        <div class="vignette">
            <app-joueur2></app-joueur2>
        </div>
        <div class="vignette">
            <app-joueur3></app-joueur3>
        </div>
        <div class="vignette">
          <app-vignette-joueur-inconnu *ngIf="!rejoindre2"></app-vignette-joueur-inconnu>
          <app-vignette-joueur-trouve *ngIf="rejoindre2"></app-vignette-joueur-trouve>
        </div>
      </div>
    </div>
  </div>

  <div class="block-bas-salon">
    <div class="map">
      <app-gpsmap></app-gpsmap>
    </div>
    <div class="block-bas-droit">
      <div class="input-field">
        <div id="presentation-joueur" class="materialize-textarea block-shadow">
          <h6>Présentation:</h6>
          {{salon.description}}
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
