@import "../../styles.scss";
.result-salons>div>button {
  float: right;
}

.result-salons {
  background-color: $main-color;
  padding: 25px;
  border-radius: 15px;
}

button.btn {
  background-color: $button-color !important;
}

.header-titre {
  display: inline-block;
}

.header-additionnel {
  text-align: right;
  font-weight: bold;
  margin-bottom: 5px;
}

.btn-voir {
  background-color: $button-color !important;
  float: right;
}

.salon-description {
  margin-left: 10%;
  margin-right: 10%;
}

.header-titre {
  color: $text-color!important;
}
