@import "../../styles.scss";

.parallax-accueil {
    position: relative;
}

.parallax-accueil > img {
    height: auto;
    position: absolute;
    z-index: -1;
    width: 100%;
}

#form-accueil {
    margin-left: 45px;
}

#form-accueil label {
    margin-right: 7px;
}

[type="checkbox"]+span:not(.lever) {
    padding-left: 25px;
}


.pagination {
    text-align: center;
}

@media only screen and (min-width : 993px) {
    .parallax-accueil {
        height: 400px;
        position: relative;
    }
}

@media only screen and (max-width : 993px) {
    .section {
        margin-top: 50px;
    }
}

.creer-salon{
    background-color:$button-color !important;
    margin-top:40px;
    margin-bottom: 25px;
    margin-left:20%;
    width:60%;
    
}