<div class="parallax-accueil container">
  <img id="img-parallax" src="../../assets/images/parallax.jpg" alt="Une femme prête à courir">
</div>
<section class="section white">
  <div class="container">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input type="text" id="autocomplete-input" class="autocomplete">
      <label for="autocomplete-input">Rechercher</label>
      <form action="#" id="form-accueil">
        <label>
          <input type="checkbox" />
          <span>Mes Salons</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Tennis</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Football</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Volley</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Rugby</span>
        </label>
      </form>
    </div>
    <app-gpsmap></app-gpsmap>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
        <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
          <i class="small material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
        <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
          <i class="small material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
        <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
          <i class="small material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
        <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
          <i class="small material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
        <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
          <i class="small material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
        <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
          <i class="small material-icons right">send</i>
        </button>
      </div>
    </div>
    <ul class="pagination">
      <li class="disabled">
        <a href="#!">
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
      <li class="active">
        <a href="#!">1</a>
      </li>
      <li class="waves-effect">
        <a href="#!">2</a>
      </li>
      <li class="waves-effect">
        <a href="#!">3</a>
      </li>
      <li class="waves-effect">
        <a href="#!">4</a>
      </li>
      <li class="waves-effect">
        <a href="#!">5</a>
      </li>
      <li class="waves-effect">
        <a href="#!">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul>
  </div>
</section>