<div class="parallax-accueil container">
  <img id="img-parallax" src="../../assets/images/parallax.jpg" alt="Une femme prête à courir">
</div>
<section class="section white">
  <div class="container">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input type="text" id="autocomplete-input" class="autocomplete">
      <label for="autocomplete-input">Rechercher</label>
      <form action="#" id="form-accueil">
        <label>
          <input type="checkbox" />
          <span>Mes Salons</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Tennis</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Football</span>
        </label>

      </form>
      <a class="waves-effect waves-light btn-large creer-salon" [routerLink]="['/creer-salon']">Créer un Salon</a>
    </div>

    <app-salon-exterieur *ngFor="let salon of listeSalons" [salon]="salon"></app-salon-exterieur>
    <ul class="pagination">
      <li class="disabled">
        <a href="#!">
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
      <li class="active">
        <a href="#!">1</a>
      </li>

      <li class="waves-effect">
        <a href="#!">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul>
  </div>
</section>
