<nav>
  <div class="nav-wrapper">
    <a href="#" class="center brand-logo">
      <img src="../../../assets/images/logo.png">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/">Contact</a>
      </li>
      <li>
        <a href="/">Salons</a>
      </li>
      <li>
        <a href="/">Se connecter</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="/">Contact</a>
  </li>
  <li>
    <a href="/">Salons</a>
  </li>
  <li>
    <a href="/">Se connecter</a>
  </li>
</ul>
<div class="parallax-accueil container">
  <img id="img-parallax" src="../../../assets/images/parallax.jpg" alt="Une femme prête à courir">
</div>
<div class="section white">
  <div class="container">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input type="text" id="autocomplete-input" class="autocomplete">
      <label for="autocomplete-input">Rechercher</label>
      <form action="#" id="form-accueil">
        <label>
          <input type="checkbox" />
          <span>Tennis</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Football</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Volley</span>
        </label>
        <label>
          <input type="checkbox" />
          <span>Rugby</span>
        </label>
      </form>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
          <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
            <i class="small material-icons right">send</i>
          </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
          <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
            <i class="small material-icons right">send</i>
          </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
          <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
            <i class="small material-icons right">send</i>
          </button>
      </div>
    </div>
    <div class="row result-salons">
      <h4 class="header">Salon n°1</h4>
      <div>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the
          foreground content while scrolling.</p>
          <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Voir
            <i class="small material-icons right">send</i>
          </button>
      </div>
    </div>
  </div>
</div>