@import "../../styles.scss";
.block-complet-joueur {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.block-haut-joueur {
  height: 60%;
}

.portrait {
  display: inline-block;
  width: 20%;
  margin-left: 15%;
  margin-right: 15%;
}

.infos-joueur {
  display: inline-block;
  width: 50%;
  height: 100%;
  margin-top: 90px;
  text-align: left;
  position: absolute;
  font-size: 20px;
}

.btn-photo {
  width: 20%;
  margin-left: 15%;
  margin-top: 10px;
  background-color:$button-color;
}

.block-bas-joueur {
  height: 40%;
  margin: auto;
  position: relative;
}

.block-description {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

span {
  font-weight: bold;
}

#presentation-joueur {
  margin-top: 25px;
  padding: 10px;
  background-color: $salon-color;
  border-radius: 15px;
  color: black;
}

#block-complet{
  overflow: hidden;
  height: 100%;
}

.rating{
  width:30%;
}