<div class="block-complet">

  <h2>Profil de Olivier Lambin</h2>>

  <div class="block-complet-joueur">
    <div class="block-haut-joueur">
      <img class="portrait" src="../../assets/images/olivier.jpg">
      <div class="infos-joueur">
        <ul>
          <li>
            <span>Nom:</span> Lambin</li>
          <li>
            <span>Prenom:</span> Olivier</li>
          <li>
            <span>Age:</span> 19</li>
          <li>
            <span>Niveau:</span> Débutant</li>
          <li>
            <span>Activité Favorite:</span> Tennis</li>
            <li><img src="../../assets//images/Star_rating_4_of_5.png" class="rating"></li>
        </ul>
      </div>
    </div>
    <a class="waves-effect waves-light btn btn-photo">Changer de Photo</a>
    <div class="block-bas-joueur">
      <div class="block-description">
        <div class="input-field">
          <div id="presentation-joueur" class="materialize-textarea block-shadow">
            <h6>Présentation:</h6>
            Salut, je m'appelle Olivier et j'adore le Tennis. J'ai commencé il y a une semaine et je cherche des débutants avec qui jouer afin
            de progresser en s'amusant. Je suis dispo du Lundi au Vendredi après 17h dans les alentours de Villeneuve d'Ascq.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>