<h2>Profil de Mange Dupont</h2>>

<div class="block-complet-joueur">
  <div class="block-haut-joueur">
    <img class="portrait" src="../../assets/images/portrait.jpeg">
    <div class="infos-joueur">
      <ul>
        <li><span>Nom:</span> Dupont</li>
        <li><span>Prenom:</span> Mange</li>
        <li><span>Age:</span> 12</li>
        <li><span>Niveau:</span> Débutant</li>
        <li><span>Activité Favorie:</span> Tennis</li>
        <li><span>Note des autres joueurs:</span> 2/5</li>
      </ul>
    </div>
  </div>
  <a class="waves-effect waves-light btn btn-photo">Changer de Photo</a>
  <div class="block-bas-joueur">
    <div class="block-description">
      <div class="input-field">
        <textarea id="presentation-joueur" class="materialize-textarea"></textarea>
        <label for="presentation-joueur">Presentation du Joueur</label>
      </div>
    </div>
  </div>
</div>