@import "../../styles.scss";

.block-chips{
    width:75%;
    margin:auto;
}

.block-nouveau-sport{
    width:60%;
    padding-top: 25px;
    margin:auto;
}

.ajouter-sport{
    padding-top: 25px;
}

.ajouter-description{
    padding-top: 25px;
}

.bouton-validation{
    padding-top: 25px;
    text-align: center
}