<h2>Ajouter un Sport</h2>

<div class="block-chips">
  <div class="chip">
    Football
  </div>
  <div class="chip">
    Tennis
  </div>
  <div class="chip">
    Footing
  </div>
</div>

<div class="block-nouveau-sport">
  <div class="ajouter-sport">
    <input type="text" placeholder="Ajoutez un nouveau Sport">
  </div>

  <div class="ajouter-description">
    <input type="text" placeholder="Ajoutez une description">
  </div>

  <div class="bouton-validation">
    <input type="button" value="Valider">
  </div>
</div>