<h2>Ajouter un Sport</h2>

<div class="suppression-sport">
<form action="#" id="form-accueil" class="form-suppression-sport">
  <label>
    <input type="checkbox" />
    <span>Tennis</span>
  </label>
  <label>
    <input type="checkbox" />
    <span>Football</span>
  </label>
  <label>
    <input type="checkbox" />
    <span>Volley</span>
  </label>
  <label>
    <input type="checkbox" />
    <span>Rugby</span>
  </label>
</form>
<a class="waves-effect waves-light btn btn-supprimer">Supprimer</a>
</div>

<div class="block-creation-sport">
  <div class="input-field">
    <input id="prenom" type="text" class="validate">
    <label for="prenom">Ajouter un Sport</label>
  </div>

  <div class="input-field">
    <textarea id="textarea1" class="materialize-textarea"></textarea>
    <label for="textarea1">Description</label>
  </div>
</div>

<a class="waves-effect waves-light btn btn-valider">Valider</a>