@import "../../styles.scss";

.block-chips{
    width:75%;
    margin:auto;
}

.block-creation-sport{
    width:60%;
    padding-top: 25px;
    margin:auto;
}

.bouton-validation{
    padding-top: 25px;
    text-align: center
}

.input-field{
    margin:50px;
}

.btn{
    text-align: center;
    background-color:$button-color;
}
.btn-valider{
width:20%;
margin-left:40%;
margin-right:40%;
margin-top:10px;
}
.btn-changer-photo{
    width:20%;
    margin-left:40%;
    margin-right:40%;
    margin-top:10px;
    margin-bottom:10px;
    }

.btn-supprimer{
    margin-left:20px;
    position: absolute;
    right:30%; 
}

.form-suppression-sport{
    display: inline-block;
    position: absolute;
    left:30%;
}

.suppression-sport{
    display: inline-block;
    width:80%;
    margin:auto;
    text-align: center;
}

.image-sport{
    height:200px;
    width:40%;
    margin-left:30%;
    margin-right:30%;
}