<app-navbar></app-navbar>

<div id="block">
  <h2>Inscription</h2>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="prenom" type="text" class="validate">
          <label for="prenom">Prénom</label>
        </div>
        <div class="input-field col s6">
          <input id="nom" type="text" class="validate">
          <label for="nom">Nom</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="telephone" type="text" class="validate">
          <label for="telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="adresse" type="text" class="validate">
          <label for="adresse">Adresse</label>
        </div>
        <div class="input-field col s4">
          <input id="code-postal" type="text" class="validate">
          <label for="code-postal">Code Postal</label>
        </div>
        <div class="row"></div>
        <div class="input-field col s6">
          <input id="mdp" type="password" class="validate">
          <label for="mdp">Mot de Passe</label>
        </div>
        <div class="input-field col s6">
          <input id="mdpconfirmation" type="password" class="validate">
          <label for="mdp">Confimez votre mot de Passe</label>
        </div>
      </div>
    </form>
  </div>
  <a class="waves-effect waves-light btn" id="validation">Valider l'inscription</a>
</div>